{% extends "components/main.html" %}
{% block main %}

<div class="container">
    <div class="row">
      <div class="col">
        <h4 class="mb-3">Change Post</h4>
        <form action="{{ url_for('view_change') }}" method="post" class="needs-validation" novalidate="">
            <input type="hidden" name="pk" value="{{ post.id }}">
            <div class="col-12">
              <label for="description" class="form-label">Description</label>
              <div class="input-group has-validation">
                <span class="input-group-text">#</span>
                <textarea name="description" class="form-control" id="description" placeholder="Description" required="" rows="5">{{ post.description }}</textarea>
              </div>
            </div>

            <hr class="my-4">

            <button class="w-100 btn btn-primary btn-lg" type="submit">Save Changes</button>
        </form>
      </div>
    </div>
</div>

{% endblock main %}
