{% extends "components/base.html" %}

{% block main %}

<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
<!--      <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">-->
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Chirper - делитесь своими мыслями и идеями мгновенно</h6>
          <p class="mb-0 opacity-75">Chirper - это платформа для быстрой и удобной публикации ваших коротких постов. Сообщайте о своих мыслях, делитесь интересными идеями, следите за обновлениями других пользователей и подписывайтесь на понравившихся авторов. Никаких ограничений на количество символов - выражайтесь свободно и беспрепятственно! Присоединяйтесь к Chirper и станьте частью нашего сообщества.</p>
        </div>
        <small class="opacity-50 text-nowrap">now</small>
      </div>
    </a>
  </div>
</div>

{% endblock main %}





